body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; /* Updated font family */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  color: #18181A; /* Updated font color */
}

* {
  box-sizing: border-box;
}

body>#root {
  width: 100%;
}

header.navbar {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex-start;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  color: #18181A; /* Updated font color */
}

.navbar-container {
  width: 100%;
}

.breadcrumbs {
  font-size: 16px;
  color: #555;
}

.breadcrumb {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb:hover {
  text-decoration: underline;
}

.profile-container-wrapper,
.profile-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.profile-container-wrapper {
  justify-content: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  max-width: 450px;
  height: 70vh;
  margin-right: 20px;
  color: #18181A; /* Updated font color */
}

.profile-picture {
  width: 200px;
  height: 230px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.save-btn,
.cancel-btn,
.logout-btn {
  width: 80px;
}

.save-btn:hover,
.cancel-btn:hover,
.logout-btn:hover,
.nav-btn:hover {
  background-color: #cfd1d2;
}

.cancel-btn {
  width: 80px;
}

.logout-btn {
  margin-left: 10px;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  max-width: 800px; 
  height: 70vh;
  width: 100%; 
  margin: 0;
  color: #18181A; /* Updated font color */
}

.profile-header {
  color: #18181A; /* Updated font color */
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-label {
  font-size: 20px; 
  color: #18181A; /* Updated font color */
  margin-right: 10px;
}

.info-content {
  font-size: 16px; 
  color: #18181A; /* Updated font color */
}

.health-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  color: #18181A; /* Updated font color */
}

.health-data-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.health-data-label {
  font-size: 16px;
  color: #18181A; /* Updated font color */
  margin-right: 10px;
}

.health-data-input {
  font-size: 16px;
  padding: 5px;
}

.health-data-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.save-btn,
.cancel-btn,
.edit-health-btn,
.health-formular-btn {
  width: 140px;
}

@media (max-width: 750px) {
  .profile-container-wrapper,
  .profile-info-container {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .profile-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .profile-info-container {
    margin-top: 80px !important;
  }

  .health-data-container {
    margin: 20px;
  }
}
