.category-card-item {
    display: flex;
    width: 30rem;
    margin-left: 100px;
    justify-content: space-between;
    cursor: pointer;
}

.main-container-category {
    margin-top: 50px;
    margin-right: 200px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.attractions-list {
    list-style: none;
    margin-left: -35px;
}

.category-header {
    display: flex;
    align-items: center;
}

.category-picture {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.popup-line {
    border: 1px solid black;
    margin: 10px 0;
}

.popup-animation {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width:768px) {
    .category-card-item {
        flex-direction:row;
        width: 100%;
        margin-left: 10px;
    }

    .main-container-category {
        align-items: center;
        flex-direction: column;
        margin-right: 10px;
    }

    .attractions-list {
        margin-left: 0;
    }

    .category-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .category-picture {
        width: 20px;
        height: 20px;
        margin-left: 0;
    }
}